@media (max-width: 1299.98px) { 
}
@media (max-width: 1199.98px) { 
  .main-wrapper .faq-section .faq-box{
    width: 100%;
  }
}
@media (max-width: 991.98px) {
  .hide-bg{
    display: block;
  }
  // .main-wrapper .banner-section header{
  //   width: 100%;
  //   a{
  //     display: block;
  //   }
  // }
  .main-wrapper .banner-section .di-flex{
    flex-wrap: wrap;
  } 
  .main-wrapper .banner-section{
    background-image: url(../assets/images/main-bg-small.jpg);
  }
  .main-wrapper .banner-section .lt-container, .main-wrapper .banner-section .rt-container, .main-wrapper .calculater-section .cal-carousel, .main-wrapper .calculater-section .cal-box{
    width: 100%;
  }
  .main-wrapper .banner-section .banner-container{
    padding: 0 0  16px 0;
  }

  .main-wrapper .banner-section .rt-container{
    position: fixed;
    z-index: 100;
    
    background: #000000ab;
    height: 100%;
    display: none;
  }
  .main-wrapper .banner-section .di-flex{
    padding: 24px 0;
  }
  .mobile-banner{
  //   width: 100%;
  //   position: relative;
  //   left: 0;
  //   top: 0;
  //   background-image: url('../assets/images/mobile-bg.jpg');
  //   background-position: top;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   padding: 0;
  //   margin: 0;
  //   max-width: 100%;
  //   min-height: 460px;
  //   display: flex;
  //   align-items: center;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 60px);
  }
  .form-container.form-wrapper {
    width: 100%;
  }
  .form-wrapper .form-horizontal{
    margin: 0;
  }
  .form-wrapper .form-title{
    width: 100%;
    text-align: center;
    line-height: normal;
  }
  .form-wrapper .form-horizontal{
    padding: 28px;
  }
  .form-wrapper .form-horizontal .col-input{
    width: 100%;
    margin-bottom: 10px;
  }
  .main-wrapper .banner-section .form-position{
    padding: 0;
    display: flex;
    height: 100%;
    align-items: center;
    // padding: 24px;
    margin: 0;
    // display: none;
  }
  .form-wrapper .form-title{
    font-size: 16px;
  }
  .form-wrapper .form-waring{
    display: none;
  }
  .form-wrapper .form-horizontal .submit-btn{
    width: 100%;
    height: 40px;
    font-size: 18px;
  }
  .form-toogle{
    margin: 32px 0 16px 0;
    padding: 10px 0;
    font-size: 16px;
    height: 40px;
  }
  .main-wrapper .ac .ponters .points .content br{
    display: none;
  }
  .logo{
    width: 100px;
  }
  .main-wrapper .banner-section .md-container{
    width: 100%;
  }
  .main-wrapper .banner-section header{
    padding: 20px 0;
    border-bottom: 1px solid #232e3a;
  }
  .main-wrapper .banner-section .banner-container .info-box{
    padding: 0;
    // padding: 26px 0;
  }
  .main-wrapper .banner-section .banner-container .info-box p{
    font-size: 20px;
  }
  .main-wrapper .banner-section .banner-container .info-box{
    text-align: center;
  }
  .main-wrapper .banner-section .banner-container .info-box h1{
    margin-bottom: 8px;
    font-size: 24px;
    line-height: normal;    
  }
  .main-wrapper .banner-section .banner-container .owl-nav.disabled+.owl-dots{
    text-align: center;
    margin-top: 8px;
  }
  .main-wrapper .banner-section .banner-container .info-box .text{
    font-size: 12px;
    line-height: normal;
    letter-spacing: normal;
  }
  .owl-theme .owl-dots .owl-dot span{
    width: 5px;
    height: 5px;
  }
  .button-box{
    width: 100%;
    height: 100%;
    padding: 0 20px;
    margin-top: 260px;
  }
  .form-wrapper .form .col-input input[type=text], .form-wrapper .form .col-input input[type=date], .form-wrapper .form .col-input input[type=email], .form-wrapper .form .col-input input[type=tel], .form-wrapper .form .col-input input[type=password], .form-wrapper .form .col-input select{
    font-size: 12px;
    line-height: normal;
    border-radius: 50px;
  }
  .main-wrapper .ac h1{
    font-size: 24px;
    text-align: left;
    line-height: normal;
    span{
      display: block;
    }
    margin-bottom: 18px;
  }
  .main-wrapper .ac{
    padding: 26px 0 0 0;
  }
  .main-wrapper .ac .ponters .points{
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .content{
      padding-left: 16px;
    }
  }
  .main-wrapper .ac .ponters .points .title{
    text-align: left;
    font-size: 16px;
    letter-spacing: normal;
    margin: 0;
    margin-bottom: 8px;
  }
  .main-wrapper .ac .ponters .points .subtitle{
    font-size: 12px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }
  .main-wrapper .ac .ponters .points img{
    margin: 0;
    width: 60px;
  }
  .main-wrapper .calculater-section{
    padding: 28px 0;
  }
  .main-wrapper .calculater-section .cal-carousel{
    padding: 0;
  }
  .main-wrapper .calculater-section .cal-carousel h1{
    font-size: 24px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 24px;
  }
  .main-wrapper .calculater-section .cal-carousel .calculater-carousel .cal-item .number{
    font-size: 40px;
    line-height: normal;
    letter-spacing: normal;

    margin-bottom: 8px;
  }
  .main-wrapper .calculater-section .cal-carousel .calculater-carousel .cal-item .text{
    font-size: 20px;
    line-height: normal;
    margin-bottom: 16px;
    letter-spacing: normal;

  }
  .main-wrapper .calculater-section .cal-carousel .calculater-carousel .cal-item .fotter-text{
    font-size: 16px;
    letter-spacing: normal;
    line-height: normal;

  }
  .main-wrapper .calculater-section .cal-carousel .calculater-carousel .owl-nav.disabled+.owl-dots{
    margin-bottom: 28px;
  }
  .main-wrapper .calculater-section .cal-box .cal-main-box, .main-wrapper .calculater-section .cal-box .result-container{
    padding: 20px 24px;
  }
  .main-wrapper .calculater-section .cal-box .cal-main-box h2{
    font-size: 16px;
    line-height: normal;
    margin-bottom: 18px;
  }
  .main-wrapper .calculater-section .cal-box .cal-main-box .slidecontainer .header{
    align-items: center;
    margin-bottom: 18px;
  }
  .main-wrapper .calculater-section .cal-box .cal-main-box .slidecontainer .header .lable, .main-wrapper .calculater-section .cal-box .cal-main-box .slidecontainer .header .number{
    font-size: 16px;
    line-height: normal;
  }
  .main-wrapper .calculater-section .cal-box .result-container .rupp-box .repp{
    font-size: 30px;
    letter-spacing: normal;
  }
  .main-wrapper .calculater-section .cal-box .result-container .rupp-box .info{
    font-size: 12px;
    letter-spacing: 1px;
  }
  .main-wrapper .calculater-section .cal-box .result-container .openPop{
    font-size: 9px;
    margin-top: 0;
  }
  .main-wrapper .market-section{
    padding: 28px 0;
  }
  .main-wrapper .market-section .market-container{
    flex-wrap: wrap;
  }
  .main-wrapper .market-section .title{
    width: 100%;
    font-size: 30px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 24px;
    br{
      display: none;
    }
  }
  .main-wrapper .market-section .market{
    width: 60%;
    padding: 18px;
    min-width: 180px;
  }
  .main-wrapper .market-section .market.nfty-50{
    margin-left: auto;
    margin-top: -16px;
  }
  .main-wrapper .market-section .market .header{
    text-align: left;
    font-size: 12px;
    margin-bottom: 8px;
  }
  .main-wrapper .market-section .market .price {
    text-align: left;
    margin-bottom: 8px;
  }
  .main-wrapper .market-section .market.sensex{
    // margin-top: -24px;
    margin-top: -16px;


  }
  .main-wrapper .funds-section{
    padding: 32px 0 0 0;
    background-image: linear-gradient(0deg, #ffe9eb 0%, #def6ff 100%);
    background-size: cover;
    .container{
      padding: 0;
    }
  }
  .main-wrapper .funds-section .fund-container{
    flex-wrap: wrap;
    background: none;
    margin-bottom: 0;
    overflow: hidden;
    .form-toogle{
      width: 90%;
      margin: 32px auto 16px auto;
    }
  }
  .main-wrapper .funds-section .fund-container .var-fund{
    width: 100%;
    padding: 0 32px;

  }
  .main-wrapper .funds-section .fund-container .var-fund .title{
    font-size: 24px;
    margin-bottom: 18px;
    line-height: normal;
  }
  .main-wrapper .funds-section .fund-container .var-fund p{
    font-size: 16px;
    color: #272643;
    line-height: normal;
    padding: 0;
    margin: 0;
  }
  .main-wrapper .funds-section .fund-container .var-fund .get-start{
    display: none;
  }
  .main-wrapper .funds-section .fund-container .var-owl-box{
    width: 100%;
    padding: 24px 0;
    // .item {
    //   padding-left: 0;
    // }
  }
  .main-wrapper .funds-section .fund-container .var-owl-box .our-services .service-item{
    width: auto;
    padding: 28px;
    min-height: 140px;
    // margin-left: 24px;
  }
  .main-wrapper .funds-section .fund-container .var-owl-box .our-services{
    .item{
      padding-left: 24px;
    }
  }
  .main-wrapper .funds-section .fund-container{
    .owl-stage-outer { 
      overflow: visible;
    }
    .owl-item {
        opacity: 0;
        transition: opacity 500ms;
    }
    .owl-item.active {
      opacity: 1;
    }
  }
  .main-wrapper .funds-section .fund-container .var-owl-box .our-services .service-item.two, .main-wrapper .funds-section .fund-container .var-owl-box .our-services .service-item.three{
    margin: 0;
  } 
  .main-wrapper .funds-section .fund-container .var-owl-box .our-services .service-item .media{
    width: 16%;
    img{
      width: auto;
      margin: 0 auto;
    }
  }
  .main-wrapper .funds-section .fund-container .var-owl-box .our-services .service-item .content .title{
    font-size: 16px;
    margin-bottom: 8px;
    line-height: normal;

  }
  .main-wrapper .funds-section .fund-container .var-owl-box .our-services .service-item .content .text{
    font-size: 12px;
    line-height: normal;
  }
  .main-wrapper .funds-section .pop-container h1{
    font-size: 30px;
    color: #000000;
    margin-bottom: 18px;
  }
  .main-wrapper .funds-section .pop-container .text{
    font-size: 16px;
    line-height: normal;
    br{
      display: none;
    }
  }
  .main-wrapper .funds-section .pop-container .acc-carousel .service-item{
    padding: 28px 18px 18px 18px;
    min-height: 340px;
  }
  .main-wrapper .funds-section .pop-container .acc-carousel .service-item .title{
    font-size: 20px;
    line-height: normal;
  }
  .main-wrapper .accordion-container .accordion{
    font-size: 16px;
    line-height: normal;
  }
  .main-wrapper .trust-section{
    padding: 32px 0 20px 0;
    
  }
  .main-wrapper .trust-section .main-box{
    flex-wrap: wrap;
  }
  .main-wrapper .trust-section .main-box .title-section{
    width: 100%;
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .main-wrapper .trust-section .main-box .title-section .title{
    font-size: 24px;
    line-height: normal;
    margin-bottom: 24px;
  }
  .main-wrapper .trust-section .main-box .awards-owl{
    width: 100%;
  }
  // .main-wrapper .trust-section .main-box .awards-owl .our-awards{
  //   // .item{
  //   //   padding-left: 16px;
  //   // }
  // }
  .main-wrapper .trust-section .main-box .awards-owl .award{
    padding: 36px 28px;
    background-position: right;

  }
  .main-wrapper .trust-section .main-box .awards-owl .award{
    text-align: center;
    min-height: auto;
    .year{
      text-align: center;
      margin-bottom: 14px;
    }
  }
  .main-wrapper .trust-section .main-box .awards-owl .award .aw-for{
    font-size: 20px;
    line-height: normal;
    text-align: center;
    margin-bottom: 14px;
  }
  .main-wrapper .trust-section .main-box .awards-owl .award .org{
    text-align: center;
    margin-bottom: 8px;
    br{
      display: none;
    }
  }
  .main-wrapper .trust-section .main-box .awards-owl .award .campi{
    text-align: center;
    line-height: normal;
  }
  .main-wrapper .faq-section .faq-box{
    width: 100%;
    padding: 28px;
  }
  .main-wrapper .faq-section .faq-box .title{
    font-size: 24px;
    line-height: normal;
    margin: 0;
    margin-bottom: 18px;

  }
  .main-wrapper .faq-section .faq-box .accordion-container .accordion{
    font-size: 16px;
    line-height: normal;
    padding-top: 18px;
    padding-bottom: 18px;
    letter-spacing: normal;

    span{
      padding-right: 8px;
    }
  }
  .main-wrapper .faq-section .faq-box .accordion-container .panel p{
    font-size: 14px;
    padding-right: 24px;
    line-height: normal;
  }
  .main-wrapper .faq-section .faq-box{
    margin-bottom: 28px;
  }
  .main-wrapper .market{
    padding: 32px 0;
  }
  .sticky-block {
    display: block;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-duration: 2s;
  }
  .mobile-menu{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #fff;
    z-index: 110;
    overflow-x: hidden;
    header{
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
    }
    .munu-links{
      background-image: linear-gradient(0deg, #f1f1f7 0%, #ffffff 100%);
      padding: 28px;
      height: calc( 100% - 200px);
      overflow-y: auto;
      .link{
        font-size: 16px;
        letter-spacing: -1px;
        line-height: 50px;
        color: #000000;
        font-weight: 700;
        font-family: "Roboto";
        text-align: right;
        display: block;
      }
    }
    .mobile-footer{
      height: 120px;
      padding: 24px;
      p{
        font-size: 14px;
        color: #000000;
        font-weight: 700;
        font-family: "Roboto";
        text-align: center;
        margin-bottom: 16px;
      }
      .mobile-footer-icons{
        display: flex;
        justify-content: center;
        .app-img{
          margin: 0 8px;
          width: 128px;
        }
      }
    }
    &.open{
      width: 100%;
    }
  }
  .main-wrapper .calculater-section .cal-box{

    h2{
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
  .main-wrapper .app-download{
    height: auto;
    background-image: url(../assets/images/graph-small.jpg);
    min-height: 420px;

  }
  .main-wrapper .app-download .lt{
    width: 100%;
    align-self: initial;
    padding-top: 24px;
  }
  .main-wrapper .app-download .lt h1{
    font-size: 24px;
    line-height: normal;
    text-align: center;
    margin-bottom: 8px;
  }
  .main-wrapper .app-download .lt p{
    text-align: center;
  }
  .main-wrapper .app-download .lt .app-link{
    display: flex;
    justify-content: space-between;
  }
  .main-wrapper .app-download .lt .app-link a{
    width: 48%;
    margin: 0;
  }
  .main-wrapper .app-download .di-flex{
    align-items: initial;
  }
  .main-wrapper .calculater-section .cal-box .yt-video{
    height: 180px;
  }
  #mutiStepForm.popup_content, #tAndC.popup_content{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
  }
  .mutit-step-form .steps .step{
    width: 180px;

  }
  .form-wrapper .col-input{
    margin-bottom: 12px;
  }
  .form-wrapper .form .info{
    margin: 4px 0 6px 0;
  }
  .main-wrapper .banner-section .top-info-box {
    display: inline-flex;
    padding: 0 8px;
  }
  #tAndC.popup_content .tAndC_close {
    right: 8px;
    top: 8px;
  }
  #tAndC.popup_content .inner-content {
    padding: 12px;
    font-family: "Roboto";
  }
  .mutit-step-form .owl-stage-outer.owl-height{
    background-color: #f9f9f9;

  }
  .mutit-step-form .steps li{
    width: 100%;
    background-color: #f9f9f9;
  }
  .mutit-step-form .step-form {
    height: calc(100% - 200px);
    padding: 24px 28px;
    overflow-y: auto;
  }
  .mutit-step-form .bootom-container .switch-title{
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
    font-family: "Roboto";
  }
  .mutit-step-form .bootom-container{
    height: 150px;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    border: none;
    position: relative;
    &::before{
      content: "";
      display: block;
      height: 1px;
      background-color: #000000;
      width: 84%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .mutit-step-form .bootom-container .toogle-box {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 28px;
  }
  .mutit-step-form .date-control::after, .mutit-step-form .date-type::-webkit-calendar-picker-indicator {
    right: 8px;
  }
  .form-wrapper .form .invalid, .form-wrapper .form .isempty{
    font-size: 12px;
  }
  .mutit-step-form .step-form .form .form-title-pop span{
    font-size: 16px;
  }
  .main-wrapper .faq-section .faq-box .accordion-container .accordion::after{
    padding-right: 8px;
    top: 16px;
  }
  .submit-btn-multistep{
    border-radius: 0;
  }
  input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 0px;
    width: 0px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -14px;
    border: none;
    border: 3px solid #002954;
  }
  input[type="range"]::-moz-range-thumb{
    height: 16px;
    width: 16px;
  }
  input[type="range"]::-ms-thumb{
    height: 16px;
    width: 16px;
  }
  .chat {
    right: 24px;
    bottom: 64px;
  }
  .get-start-fix{
    display: none;
  }
  .form-toogle{
    display: block;
  }
  .main-wrapper .pop-cherry-section{
    padding: 28px 0;
    background-image: linear-gradient(0deg, #e3e3ef 0%, #ffffff 100%);
    .container{
      padding: 0;
    }
  }
  .main-wrapper .pop-cherry-section .pop-container h1{
    font-size: 24px;
    line-height: normal;
    margin-bottom: 8px;
  }
  .main-wrapper .pop-cherry-section .pop-container .text{
    font-size: 16px;
    line-height: normal;
  }
  .main-wrapper .pop-cherry-section .pop-container .acc-carousel .service-item .title{
    font-size: 20px;
    line-height: normal;
  }
  .main-wrapper .pop-cherry-section .pop-container .acc-carousel .service-item{
    padding: 24px;
    min-height: 340px;
    height: auto;
    border-radius: 20px;
    filter: drop-shadow(0px 5px 5px rgba(167,167,188,0.1));
    box-shadow: 0px 5px 5px rgba(167,167,188,0.1);
    margin-left: 24px;
  }
  .main-wrapper .trust-section .main-box .title-section{
    .logo{
      width: auto;
    }
  }
  .main-wrapper .market-risk .text-red{
    text-decoration: none;
  }
  .di-big{
    display: none;
  }
  .di-small{
    display: block;
  }
  .main-wrapper .market-risk{
    padding: 24px 0;
  }
  .main-wrapper .market-risk{
    font-size: 14px;
    background-color: #090909;
  }
  .mutit-step-form .otp-resend-box p{
    font-size: 14px;
  }
  .lable-date-input {
    font-size: 12px;
  }
  .mutit-step-form .ui-datepicker-trigger {
    right: 15px;
    top: 44%;
    width: 20px;
    height: 20px;
  }
}
@media  (max-width: 767.98px) {
  .form-wrapper .form-horizontal .submit-btn{
    font-size: 16px;
  }
}
@media (max-width: 575.98px) { 
  .mobile-banner{
    min-height: 360px;
  }
  .form-wrapper .form-title{
    font-size: 16px;
  }
  .main-wrapper .banner-section .banner-container .info-box p{
    font-size: 16px;
  }
}